﻿
@{
    ViewBag.Title = "Index";
}

<html>
<head>
    <title>
        Registration Form
    </title>
    <script type="text/javascript" src="~/Scripts/RegitsrationSave.js"></script>
</head>
<body>
    <form>
        <h2>Contact Management</h2>
        <div class="row">
            <div class="form-group">
                <label>First Name</label>
                <input type="text" name="FirstName" id="FirstName" placeholder="Please Enter First Name" class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label>Last Name</label>
                <input type="text" name="LastName" id="LastName" placeholder="Please Enter Last Name" class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label>DateOfBirth</label>
                <input type="date" name="DateOfBirth" id="DateOfBirth" class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label>Gender</label>
                <input type="radio" name="Gender" id="radMale" value="Male" checked="checked" />Male
                <input type="radio" name="Gender" id="radFeMale" value="FeMale" />FeMale
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <input type="button" name="btnSubmit" id="btnSubmit" class="form-control" value="Submit" onclick="return ValidateOnSubmit();" />
            </div>
        </div>
    </form>
</body>
</html>

