﻿@model List<ContactManagment.Models.RegistrationModels>

    @{
    ViewBag.Title = "Index";
    }
    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Index", null, new { @class = "btn btn-primary" })
    </p>
    <table class="table">
        <tr>
            <th>
                <label>First Name</label>
            </th>
            <th>
                <label>Last Name</label>
            </th>
            <th>
                <label>Date Of Birth</label>
            </th>
            <th>
                <label>Gender</label>
            </th>
            <th>Action</th>
        </tr>

        @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.ActionLink("Registration", "Edit", new { id=item.SrNo })
            </td>
        </tr>
        }
    </table>
